$primary-color: #FF6F61;
$hover-color: #ffdfd9;
$border-color: #dddddd;
$stripe-color: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.1);

.dashboard {
    padding: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px $shadow-color;
  min-height: 251px;

  .table-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #f2f2f2;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;

    &:last-child {
        border-bottom: none;
    }

    &:nth-child(even) {
        background-color: $stripe-color;
    }
    
    &:hover {
        background-color: $hover-color;
    }

    .table-cell {
      flex: 1;
      text-align: left;
      padding: 0 8px;
      font-family: 'Roboto', sans-serif;

      &:first-child {
        text-align: center;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }

    &.header {
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 2px solid $border-color;
        font-size: 1rem;
        letter-spacing: 0.5px;
        font-family: 'Oswald', sans-serif;
    }
  }
}

@media (max-width: 768px) {
    .dashboard {
        padding: 10px;
        width: fit-content;
    }

    .table {
      width: 100%;
      min-width: 525px;
      overflow-x: auto;
    }
  
    .table-row {
      white-space: nowrap;
  
      .table-cell {
        min-width: 60px;
        padding: 10px 15px;
        &:first-child {
            max-width: 60px;
        }
      }
    }
  }
